<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/new-issue">Create Issues</a></li>
  </ul>
  <h3 class="text-muted">Git Proj manager</h3>
</div>

<div class="col-md-3">
  <h2>Backlog</h2>

  <div ng-repeat="issue in backlog" class="issue-group col-md-12" ng-if="issue.state === 'open'">
    <header class="title">
      <img ng-src="{{ issue.assignee.avatar_url }}"
        alt="{{ issue.assignee.login }}"
        ng-if="issue.assignee.avatar_url">

      <img src="http://www.artdnet.com/templates/tmpl_artdnet/images/default_user.png"
        alt=""
        ng-if="!issue.assignee.avatar_url">
      <a href="#/detail/{{ issue.number }}" class="number-issue">#{{ issue.number }}</a>
    </header>

    <div class="content">
      <a class="title-issue" href="#/detail/{{ issue.number }}">
        {{ issue.title }}
      </a>

      <div class="group-labels">
        <span
          ng-repeat="label in issue.labels"
          class="btn btn-sm labels-list"
          style="background: #{{ label.color }}">
          {{ label.name }}
        </span>
      </div>
    </div>

  </div>

</div>

<div class="col-md-3">
  <h2>In progress</h2>

  <div ng-repeat="issue in progress"
      class="issue-group col-md-12"
  >
  <header class="title">
    <img ng-src="{{ issue.assignee.avatar_url }}" alt="{{ issue.assignee.login }}" ng-if="issue.assignee.avatar_url">
    <img src="http://www.artdnet.com/templates/tmpl_artdnet/images/default_user.png" alt="" ng-if="!issue.assignee.avatar_url">
    <a href="#/detail/{{ issue.number }}" class="number-issue">#{{ issue.number }}</a>
  </header>

  <div class="content">
    <a class="title-issue" href="#/detail/{{ issue.number }}">
      {{ issue.title }}
    </a>

  <div class="group-labels">
    <span
    ng-repeat="label in issue.labels"
    class="btn btn-sm labels-list"
    style="background: #{{ label.color }}">
    {{ label.name }}
  </span>
</div>
</div>

  </div>

</div>

<div class="col-md-3">
  <h2>Done</h2>

  <div ng-repeat="issue in done"
      class="issue-group col-md-12"
  >
  <header class="title">
    <img ng-src="{{ issue.assignee.avatar_url }}" alt="{{ issue.assignee.login }}" ng-if="issue.assignee.avatar_url">
    <img src="http://www.artdnet.com/templates/tmpl_artdnet/images/default_user.png" alt="" ng-if="!issue.assignee.avatar_url">
    <a href="#/detail/{{ issue.number }}" class="number-issue">#{{ issue.number }}</a>
  </header>

  <div class="content">
    <a class="title-issue" href="#/detail/{{ issue.number }}">
      {{ issue.title }}
    </a>

  <div class="group-labels">
    <span
    ng-repeat="label in issue.labels"
    class="btn btn-sm labels-list"
    style="background: #{{ label.color }}">
    {{ label.name }}
  </span>
</div>
</div>
  </div>

</div>

<div class="col-md-3">
  <h2>Deploy/Produção</h2>
</div>
