<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/new-issue">Create Issues</a></li>
  </ul>
  <h3 class="text-muted">Git Proj manager</h3>
</div>

<div class="col-md-3">
  <h2>Backlog</h2>

  <div ng-repeat="issue in backlog" class="issue-group col-md-12" ng-if="issue.state === 'open'">
    <header class="title">
      <img ng-src="{{ issue.assignee.avatar_url }}"
        alt="{{ issue.assignee.login }}"
        ng-if="issue.assignee.avatar_url">

      <img src="http://www.artdnet.com/templates/tmpl_artdnet/images/default_user.png"
        alt=""
        ng-if="!issue.assignee.avatar_url">
      <a href="#/detail/{{ issue.number }}" class="number-issue">#{{ issue.number }}</a>
    </header>

    <div class="content">
      <p class="title-issue"
        data-toggle="modal"
        data-target="#modal-{{ issue.number }}">
          {{ issue.title }}
      </p>

      <div class="group-labels">
        <span
          ng-repeat="label in issue.labels"
          class="btn btn-sm labels-list"
          style="background: #{{ label.color }}">
          {{ label.name }}
        </span>
      </div>
    </div>

    <div class="modal fade" id="modal-{{ issue.number }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ issue.title }}</h4>
          </div>
          <div class="modal-body">
            {{ issue.body }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="col-md-3">
  <h2>In progress</h2>

  <div ng-repeat="issue in progress"
      class="issue-group col-md-12"
  >
  <header class="title">
    <img ng-src="{{ issue.assignee.avatar_url }}" alt="{{ issue.assignee.login }}" ng-if="issue.assignee.avatar_url">
    <img src="http://www.artdnet.com/templates/tmpl_artdnet/images/default_user.png" alt="" ng-if="!issue.assignee.avatar_url">
    <span class="number-issue">#{{ issue.number }}</span>
  </header>

  <div class="content">
    <p class="title-issue"
    data-toggle="modal"
    data-target="#modal-{{ issue.number }}">
    {{ issue.title }}
  </p>

  <div class="group-labels">
    <span
    ng-repeat="label in issue.labels"
    class="btn btn-sm labels-list"
    style="background: #{{ label.color }}">
    {{ label.name }}
  </span>
</div>
</div>

<div class="modal fade" id="modal-{{ issue.number }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{ issue.title }}</h4>
      </div>
      <div class="modal-body">
        {{ issue.body }}
      </div>
    </div>
  </div>
</div>
  </div>

</div>

<div class="col-md-3">
  <h2>Done</h2>

  <div ng-repeat="issue in done"
      class="issue-group col-md-12"
  >
  <header class="title">
    <img ng-src="{{ issue.assignee.avatar_url }}" alt="{{ issue.assignee.login }}" ng-if="issue.assignee.avatar_url">
    <img src="http://www.artdnet.com/templates/tmpl_artdnet/images/default_user.png" alt="" ng-if="!issue.assignee.avatar_url">
    <span class="number-issue">#{{ issue.number }}</span>
  </header>

  <div class="content">
    <p class="title-issue"
    data-toggle="modal"
    data-target="#modal-{{ issue.number }}">
    {{ issue.title }}
  </p>

  <div class="group-labels">
    <span
    ng-repeat="label in issue.labels"
    class="btn btn-sm labels-list"
    style="background: #{{ label.color }}">
    {{ label.name }}
  </span>
</div>
</div>

<div class="modal fade" id="modal-{{ issue.number }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{ issue.title }}</h4>
      </div>
      <div class="modal-body">
        {{ issue.body }}
      </div>
    </div>
  </div>
</div>
  </div>

</div>

<div class="col-md-3">
  <h2>Deploy/Produção</h2>


  <div ng-repeat="issue in issues"
    ng-if="issue.state === 'closed'"
    class="issue-group col-md-12"
    >
    <header class="title">
      <img ng-src="{{ issue.assignee.avatar_url }}" alt="{{ issue.assignee.login }}" ng-if="issue.assignee.avatar_url">
      <img src="http://www.artdnet.com/templates/tmpl_artdnet/images/default_user.png" alt="" ng-if="!issue.assignee.avatar_url">
      <span class="number-issue">#{{ issue.number }}</span>
    </header>

    <div class="content">
      <p class="title-issue"
      data-toggle="modal"
      data-target="#modal-{{ issue.number }}">
      {{ issue.title }}
    </p>

    <div class="group-labels">
      <span
      ng-repeat="label in issue.labels"
      class="btn btn-sm labels-list"
      style="background: #{{ label.color }}">
      {{ label.name }}
    </span>
  </div>
</div>

<div class="modal fade" id="modal-{{ issue.number }}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{ issue.title }}</h4>
      </div>
      <div class="modal-body">
        {{ issue.body }}
      </div>
    </div>
  </div>
</div>
  </div>
</div>
